@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=No75to+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: Montserrat;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1325px;
  margin: 0 auto;
}

header {
  background-color: #DA002B;
  height: 56px;
  margin-bottom: 28px;
}

header a {
  color: #fff;
  font-size: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

header a:hover {
  opacity: .5;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.top-left__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-left__links a {
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 16px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.link_installment {
  background-color: #fff;
  color: #DA002B;
}

.link_discount {
  border: 2px solid #fff;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
}

.top-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.top-actions a:first-child {
  font-weight: 600;
  font-size: 20px;
}

.top-actions__link {
  height: 40px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.top-actions__link:hover {
  background-color: #fff;
  opacity: 1;
  color: #DA002B;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  padding: 20px 28px;
  border-right: 1px solid #E54D6B;
  border-left: 1px solid #E54D6B;
}

.lang .active {
  opacity: 1;
}

.lang a {
  opacity: .5;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
}

.lang a:hover {
  opacity: 1;
}

.bottom_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 28px;
}

.bottom_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
}

.burger_btn {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 18px;
  height: 48px;
  padding: 0 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.burger_btn:hover {
  color: #DA002B;
  border-color: #DA002B;
}

.burger_btn:hover .burger {
  background: #DA002B;
}

.burger_btn:hover .burger::before,
.burger_btn:hover .burger::after {
  background: #DA002B;
}

.burger {
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.burger::before,
.burger::after {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background: #000;
  left: 0;
}

.burger::before {
  top: 6px;
}

.burger::after {
  top: -6px;
}

.search_parent {
  background-color: #F2F2F2;
  border-radius: 12px;
  overflow: hidden;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.search {
  background-color: #F2F2F2;
  width: 504px;
  font-size: 16px;
  padding: 0px 24px;
  height: 44px;
}

.search_btn {
  background-color: #DA002B;
  width: 74px;
  height: 44px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scale: .9;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.search_btn:hover {
  scale: 1;
}

.bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 25px;
}

.bottom_right a {
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.bottom_right a:hover {
  color: #DA002B;
}

.item_img {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.statistic {
  background-image: url(../img/icons/statistics.svg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.statistic:hover {
  background-image: url(../img/icons/statistics_active.svg);
}

.heart {
  background-image: url(../img/icons/heart.svg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.heart:hover {
  background-image: url(../img/icons/heart_active.svg);
}

.cart {
  background-image: url(../img/icons/cart.svg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.cart:hover {
  background-image: url(../img/icons/cart_active.svg);
}

.user {
  background-image: url(../img/icons/user.svg);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.user:hover {
  background-image: url(../img/icons/user_active.svg);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5px;
  position: relative;
}

.item:nth-child(3)::after {
  content: '0';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: -8px;
  right: 4px;
  width: 20px;
  height: 20px;
  background: #DA002B;
  border-radius: 100%;
  color: #fff;
}

.item:hover .statistic {
  background-image: url(../img/icons/statistics_active.svg);
}

.item:hover .heart {
  background-image: url(../img/icons/heart_active.svg);
}

.item:hover .cart {
  background-image: url(../img/icons/cart_active.svg);
}

.item:hover .user {
  background-image: url(../img/icons/user_active.svg);
}

.swiper {
  width: 100%;
  height: 382px;
  border-radius: 20px;
}

.swiper:hover .sw-btn {
  scale: 1;
}

.swiper-slide {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swipers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 50px;
}

.sw-btn {
  width: 38px !important;
  height: 38px !important;
  background-color: #fff;
  border-radius: 100%;
  scale: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sw-btn::after,
.sw-btn::before {
  color: #000;
  scale: .4;
}

.swiper_two {
  border: 4px solid #DA002B;
  border-radius: 10px;
  min-width: 298px;
  padding: 13px;
}

.swiper__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.swiper__top h2 {
  font-size: 18px;
  color: #111111;
  font-weight: 600;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}

.timer__block {
  font-size: 16px;
  padding: 2px;
  border: 1px solid rgba(128, 128, 128, 0.295);
  border-radius: 5px;
}

.swiper__main p:nth-child(2) {
  font-size: 16px;
  margin-bottom: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.swiper__main p:nth-child(2):hover {
  color: #DA002B;
}

.swiper__main p:nth-child(3) {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.swiper__main p:nth-child(4) {
  font-size: 12px;
  font-weight: 500;
  background-color: #FFD740;
  border-radius: 5px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
}

.plite_img {
  display: block;
  height: 174px;
  width: 100%;
  background-image: url(https://olcha.uz/image/220x220/products/2018-04-12/plita-gefest-6500-04-0069-2540-0.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 20px;
}

.pagination {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 10px !important;
  overflow: hidden;
  background: rgba(128, 128, 128, 0.497);
}

.btn:checked {
  background: #DA002B;
  border-radius: 10px !important;
}

.offers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 136px;
  grid-gap: 20px;
  margin-bottom: 80px;
}

.offer_img {
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.offer_img:hover {
  background-size: 105%;
}

.watch {
  background-image: url(https://olcha.uz/image/460x152/homePage/s4cdrA0bi8z3ZfNWYOENt5TyaBftabSGvfeDJHGClCVzte7FFjMwWu14QtkQ.png);
}

.book_discount {
  background-image: url(https://olcha.uz/image/460x152/homePage/Y8z2E5DxlLA3cmt2wgfObvAhezK7QHgEUi01pnfxnZqcZiAs6symXYAsAPhf.png);
}

.monitors {
  background-image: url(https://olcha.uz/image/460x152/homePage/dFmIbHC3rNpOZsPBMg6hod8njuqVsJEp8UDsCqTrVtVFFScS8jA0iNP1UGLa.png);
}

.smartphone_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 60px 40px;
}

.smartphone {
  display: block;
  max-width: 293px;
  cursor: pointer;
}

.smartphone_top {
  width: 100%;
  height: 176px;
  background-image: url(https://olcha.uz/image/220x220/products/2022-06-13/smartfon-xiaomi-redmi-note-11-pro-128gb-8-gb-grey-58466-0.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card_sale {
  background: #DA002B;
  border-radius: 5px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #fff;
  font-size: 12px;
}

.card_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  gap: 20px;
}

.card_actions button {
  background-color: #fff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  width: 26px;
  height: 26px;
}

.card_actions .btn_compare {
  background-image: url(../img/icons/statistics.svg);
}

.card_actions .btn_compare:active {
  background-image: url(../img/icons/statistics_active.svg);
}

.card_actions .btn_like {
  background-image: url(../img/icons/heart.svg);
}

.card_actions .btn_like:active {
  background-image: url(../img/icons/heart_active.svg);
}

.smartphone_text h3 {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 25px;
}

.smartphone_text p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.smartphone_text p:nth-child(3) {
  font-size: 12px;
  font-weight: 500;
  background-color: #FFD740;
  border-radius: 5px;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 30px;
}

.smartphone_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.cart_btn {
  border: 2px solid #000;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  background-image: url(../img/icons/cart.svg);
  background-position: center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.cart_btn:hover {
  background-color: #dbdbdb;
}

.installment_btn {
  border: 2px solid #DA002B;
  color: #DA002B;
  width: 245px;
  height: 40px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.installment_btn:hover {
  background-color: #dbdbdb;
}